@model IEnumerable<GovermentSystem.Models.FoodPack>

@{
    ViewData["Title"] = "Index";
    Layout = "/Views/Shared/_DashboardLayout.cshtml";
}



<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="card">
    <div class="card-header">

        <h3 class="card-title">Program</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">

        <table id="example1" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Middle_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Last_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Barangay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date_Issued)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Validate)
            </th>
                    <th>
                        Edit
                    </th>
                    <th>
                        View
                    </th>
                    <th>
                        Delete
                    </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.First_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Middle_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Last_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Barangay.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date_Issued)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Validate)
            </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning"><i class="fa fa-edit"></i> Edit</a>

                        </td>
                        <td>
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary"><i class="fa fa-eye"></i> View</a>

                        </td>
                        <td>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"><i class="fa fa-trash"></i> Delete</a>

                        </td>
        </tr>
}
    </tbody>
</table>
</div>
</div>